# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/

# VS Code
.vscode/

# Static files collected
staticfiles/

# Environment variables
.env
*.env

# OS
.DS_Store
Thumbs.db

# Migrations (keep these)
# !*/migrations/*.py